.contactus {
	form#contactform {
	    margin: 3em 0 0;
	}
	input[type="text"], input[type="email"], 
	textarea {
		display: block;
		width: 98%;
		background: transparent;
		margin-bottom: 2em;
		padding: 1em .5em .2em;
	    border: 0;
	    border-bottom: 1px solid gray;
	    color: $text-color;
	    font-size: 16px;
	    font-family: "Lato";
	    line-height: 16px;
	    ::-webkit-input-placeholder {
					font-family: "Lato";
					font-size: 14px;
					line-height: 14px;
				}
	}
	input[type="submit"] {
		-webkit-appearance: none;
	    font-size: 16px;
	    font-family: "Lato";
	    line-height: 16px;
	    width: 100px;
	    height: 30px;
	    border: none;
	    color: $text-color;
	    background-color: $grey-color;
	    text-transform: uppercase;
	    &:hover {
	    	color: $grey-color;
	    	background-color: $text-color;
	    }
	}
}

.jobs {
	.contact {
	margin: 30px 0;
	}
	.post-content li {
	list-style: #fff;
	}
}