footer {
	border-top: 5px solid $brand-color;
    padding: $spacing-unit 0;
	.contactinfo {
		float: left;
		p {
		margin: 0;
		}
	}

	.socialicons {
		float: right;
		li {
			list-style: none;
			display: inline;
		}
		.fa {
			margin-right: .5em;
	    	font-size: 2.5em;	
		}
	}

	#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: center;
    padding: 10px 0 10px 0;
	}

	#mc_embed_signup {
	    background: transparent;
	    clear: left;
	    font: 14px Helvetica,Arial,sans-serif;
			.mc-field-group label {
				display: none;
			}
			.mc-field-group {
			    clear: left;
			    display: inline;
			    position: relative;
			    width: 96%;
			    padding-bottom: 3%;
			    min-height: 50px;
				input {
				    display: inline;
				    width: 80%;
				    padding: 8px 0;
				    text-indent: 2%;
				    font-family: "Lato";
					font-size: 12px;
					line-height: 12px;
				}
				::-webkit-input-placeholder {
					font-family: "Lato";
					font-size: 14px;
					line-height: 14px;
				}
			}
			div.mce_inline_error {
			    display: none !important;
			}
			div.response {
				padding: 0;
			}
			.clear {
				display: inline;
			}
			.button {
				border-radius: 0;
				background-color: $grey-color;
				font-family: "Lato";
				text-transform: uppercase;
				&:hover {
					color: $grey-color;
					background-color: $text-color;
				}
			}
		}
}

@include media-query($on-palm) {
	footer {
		.contactinfo {
			float: none;
			clear: both;
			text-align: center;
		}
		.socialicons {
			float: none;
			clear: both;
			text-align: center;
			margin: 1em auto;
		}
		#mc_embed_signup  {
			form {
		    text-align: center;
			}
			.mc-field-group input {
			width: 60%;
			}
		}
	}
}