.intro {
	position: relative;
	img {
	    position: relative;
	    width: 100%;
	    /* vertical-align: middle; */
	}

	.introtext {
		position: absolute;
	    background: rgba(0,0,0,.5);
	    max-width: 100%;
	    bottom: 0;
	    padding: 20px 100px;
	    color: #eee;
	    font-size: 2.8em;
	    font-family: "Indie Flower";
	    font-weight: 700;
	    text-transform: uppercase;
	    text-align: center;
	    }
}

.lineup {
	transform-style: preserve-3d;
	margin: 3em auto 2em;
	position: relative;
	.arrow {
		position: absolute;
		top: 25px;
		left: 150px;
		img {
			width: 225px;
		}
	}
	.bottles {
		float: left;
		img {
		width: 300px;
		}
	}
	span {
		float: right;
		width: 48%;
		font-family: "Indie Flower";
		font-size: 1.8em;
		position: relative;
        top: 50%;
        transform: translateY(100%);
	}
}