.intro {
	position: relative;
	img {
	    position: relative;
	    width: 100%;
	    /* vertical-align: middle; */
	}

	.introtext {
		position: absolute;
	    background: rgba(0,0,0,.5);
	    max-width: 100%;
	    bottom: 0;
	    padding: 20px 100px;
	    color: #eee;
	    font-size: 2.8em;
	    font-family: "Indie Flower";
	    font-weight: 700;
	    text-transform: uppercase;
	    text-align: center;
	    }
}

.lineup {
	transform-style: preserve-3d;
	margin: 3em auto 2em;
	position: relative;
	overflow: auto;
	.arrow {
		position: absolute;
		top: 0;
		left: 230px;
		img {
			width: 225px;
		}
	}
	.bottles {
		float: left;
		img {
		border: 5px solid black;
		width: 300px;
		}
	}
	span {
		float: right;
		width: 48%;
		font-family: "Indie Flower";
		font-size: 1.8em;
		position: relative;
        top: 50%;
        margin-top: .5em;
        transform: translateY(100%);
	}
}

@include media-query($on-laptop) {
	.intro {
	.introtext {
		position: relative;
		padding: 20px 20px;
		font-size: 2em;
	}
	}
}

@include media-query($on-palm) {
	.intro {
	.introtext {
		font-size: 1.5em;	
	}
	}
}